@import "./variables";

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  h2,
h3 {
  font-size: 1.7rem;
}

body {
     font-family: "DM Sans", sans-serif;
  }
a {
    color: black;
    text-decoration: none;
}

#switch:checked {
  background-color: #6B19CB;
}

.navLogo {
  color:#6B19CB;
  font-weight: 500;
}

.calendar {
  text-align: center;
}

.active,
.navlink:hover {
  text-decoration: underline;
}

.profilelink:hover {
  color: #6B19CB;
}

.registerlink:hover {
  font-style: italic;
}

.searchResult {
  padding: 10px 15px 10px 15px;
}

.searchResult:hover {
  background-color: #F2EFFF;
}